html {
    background-image: url(../utilities/images/paper_fibers_@2X.png);
}

body {
    background-color: rgba(0, 0, 0, 0);
}

form {
    background-color: #1E441E !important;
    color: #f5ffd9;
}

form i {
    font-size: 2em;
}

.submit {
    background-color: #D5DDBC;
}

.list-group-item {
    background-color: #546A7B;
}

.description {
    max-height: 200px;
    overflow-y: scroll;
}

/* .description:hover::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 0;
} */

::-webkit-scrollbar {
    width: 0
}

::-webkit-scrollbar-track {
    background-color: rgba(238, 238, 238, 0);
}

.buttons {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 10px;
}